<div>
    <p>Êtes-vous sûr de vouloir vous déconnecter ?</p>
    <form method="post">
        <button type="submit" class="btn btn-danger">Oui</button>
        <a asp-action="Index" asp-controller="Home" class="btn btn-primary">Annuler</a>
    </form>
</div>
